<div class="container shadow p-3 mb-5 bg-white rounded" >
  <div class="row">
    <div class="col-lg-4">

      <h1>Stupid Coaching</h1>
      <p> <%=@reponse%> </p>

      <%= link_to "Ask a new question", ask_path %>

    </div>
  </div>
</div>
